<footer class="footer">
  <small>
    サークル検索サービス <%= link_to root_path do %>
    「検さーくル <i class='fa fa-search'></i>」<% end %>
    by <a href="https://github.com/weben2018-team-f" target='_blank'>学生団体 UTeam</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "UTeamとは", 'https://github.com/weben2018-team-f' ,target: '_blank'%></li>
      <li><a target="_blank"><i class="fa fa-envelope"></i></a></li>
      <li><a target="_blank"><i class="fa fa-twitter"></i></a></li>
      <li><a target="_blank"><i class="fa fa-instagram"></i></a></li>
      <li><a target="_blank"><i class="fa fa-facebook"></i></a></li>

    </ul>
  </nav>
</footer>