<footer class="footer">
  <small>
    サークル検索サービス
    「Freple <%= image_tag("logo_final.png", :alt => "logo", class: 'logo_img',height: 25,width:25)%>」
    by <a href="https://github.com/weben2018-team-f" target='_blank'>Team-F</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Team-Fとは", 'https://github.com/weben2018-team-f' ,target: '_blank'%></li>
      <li><a target="_blank"><i class="fa fa-envelope"></i></a></li>
      <li><a target="_blank"><i class="fa fa-twitter"></i></a></li>
      <li><a target="_blank"><i class="fa fa-instagram"></i></a></li>
      <li><a target="_blank"><i class="fa fa-facebook"></i></a></li>

    </ul>
  </nav>
</footer>